/* below is code used to override browser specific styling, used to achieve a uniform style, regardless of which browser is used */

* {
    padding: 0% auto;
    margin: 0%;
    box-sizing: border-box;
}

.audio{
    align-self: center;
    justify-self: center;
}

/* this code enables a smooth gradual movement when scrolling to a section on the page */

html {
    scroll-behavior: smooth;
}

/* below is code used to slightly offset the location you land on when scrolling to a section in order to prevent the sticky nav-bar from covering the contents */

.scroll-offset {
    scroll-margin-top: 50px;
}

/* below is styling for the general background of the website. */

body {
    background-image: url(images/space-background.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

/* below is general styling for organizing all sections on the page. */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Below is general styling for text elements like headers, paragraphs and button text */

p,
h1,
h2,
.button {
    color: aliceblue;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;

    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 50px;
    letter-spacing: 10px;
}

h2 {
    margin-bottom: 25px;
    margin-top: 25px;
}

p {
    line-height: 150%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    word-spacing: 2px;
}

a {
    text-decoration: none;
}

/* below is styling to make the nav-bar stick once you scroll down to it. */

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* below is styling for the button elements in the nav */

.button {
    margin-top: 20px;
    padding: 1em 2em;
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: -0.12rem;
    border-radius: 1000px;
    background-image: linear-gradient(
        to bottom right,
        rgb(0, 195, 255),
        rgb(204, 0, 255)
    );
    z-index: -1;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.nav {
    transform: scale(1);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* below gives specific styling to a button when you hover over a button element */

button:hover {
    z-index: 1;
    box-shadow:
        40px 0 100px rgba(255, 0, 230, 0.801),
        -40px 0 100px rgba(0, 0, 255, 0.731);
    font-size: 90%;
}

/* below is the general styling of each section and their contents*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    border-radius: 10px;
    border: solid 2px rgba(214, 214, 214, 0.502);
}

/* below is the general styling of the text-boxes used throughout the website */

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;
}

/* Below is the styling for the border gradient effect on the text-boxes. This was curated from Stackoverflow, after researching various methods on how to complete this effect. This method uses a Pseudo element to create the effect  */

.border-gradient {
    --b: 2px; /* border thickness */
    --r: 20px; /* radius */

    border: none;
    padding: 10px px;
    position: relative;
    background: rgba(0, 0, 0, 0.438); /* background color with alpha */
    border-radius: var(--r);
}
.border-gradient::before {
    content: "";
    position: absolute;
    inset: calc(-1 * var(--b));
    padding: var(--b);
    border-radius: calc(var(--b) + var(--r));
    background: linear-gradient(
        90deg,
        rgb(217, 0, 255),
        rgb(28, 255, 255)
    ); /* gradient border */
    opacity: 0.5; /* alpha for border */

    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/* This is the styling for the section devider class, used to give space between sections. */

.section-divider {
    /* background-color: rgb(43, 43, 43); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 900px;
}

/* These classes are used to define the specific background image URL for each section, along with any styling that applies to only the invdividual section it is used for. */

/* tip: use an image with same pixel height and width as the styling to maximize usage of your image */

.hero {
    background-image: url(images/background-neptune.png);
    width: 900px;
    height: 600px;
    margin-top: 40px;
    background-position: center;
}

.travel {
    height: 800px;
    width: 900px;
    background-image: url(images/travel-neptune-fixed.png);
    background-position: top;
}

.cooking {
    height: 800px;
    width: 900px;
    background-image: url(images/cooking-neptune-fixed.png);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 200px;
    background-color: rgba(41, 41, 41, 0.566);
    border: solid 2px rgba(194, 194, 194, 0.71);
    border-radius: 10px;
}
